# Create the real file with:
# docker run --rm -it -v ${PWD}/mosquitto:/mosquitto/config eclipse-mosquitto:2 mosquitto_passwd -c /mosquitto/config/passwords dashboard
# docker run --rm -it -v ${PWD}/mosquitto:/mosquitto/config eclipse-mosquitto:2 mosquitto_passwd /mosquitto/config/passwords UPSMON-001

